* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('abstract-luxury-galaxy-background-with-a-focus-on-rich-deep-blues-and-purples-free-photo.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.phonenumber-wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.phonenumber-wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.input-box-phone {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 38px 0;
}

.input-box-phone i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.input-box-phone input::placeholder {
    color: #fff;
}

.input-box-phone input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.phonenumber-wrapper .submit-btn a {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px 0 15px;
}

.submit-btn {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px 0 15px;
}

.submit-btn a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}


.phonenumber-wrapper .verify-with-email a {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px 0 15px;
}

.verify-with-email {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px 0 15px;
}

.verify-with-email a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

